* {
  margin: 0 auto;
  padding: 0;
}
body {
  width: 100%;
  background-color: black;
  color: #fff;
}
ul {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #fff;
}

/* ---------------------main--------------- */
.main {
  height: 100vh;
  text-align: center;
}
.main_btn {
  width: 100%;
  position: fixed;
  top: 40px;
  z-index: 100;
  /* border: 1px solid white; */
}
.main_btn ul {
  display: flex;
  justify-content: space-around;
  width: 550px;
  /* width: 600px; */
}
.main_btn li {
  font-size: 18px;
  border: 3px solid #eee;
  background-color: #525252;
  padding: 8px 16px;
  border-radius: 50px;
}
.main_btn li:hover {
  border: 3px solid #eee;
  background-color: #b3b3b3;
}
.main_btn li:hover a {
  color: black;
}
.main_t {
  padding-top: 30px;
}
.main_t h1 {
  font-size: 70px;
}
.main_t h2 {
  font-size: 30px;
  padding-top: 30px;
  color: #cfcfcf;
  font-weight: 500;
}
.main_link {
  width: 400px;
  /* background-color: lightblue; */
  margin: 50px auto;
}
.main_link ul {
  display: flex;
  justify-content: space-around;
}
.main_link li {
  font-size: 20px;
  border: 3px solid #ccc;
  border-radius: 50px;
  padding: 6px 20px;
}
.main_link li:hover {
  background-color: #fff;
  color: #fff;
}
.main_link li:hover a {
  color: black;
}

/* ----------page1------------- */
.page1 {
  height: 100vh;
  text-align: center;
}

.toggleBtn1, .toggleBtn2 {
  /* border: 1px solid white; */
  background-color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.toggleBtn1:hover ,.toggleBtn2:hover
{
    color: #fff;
    background-color: black;
    border: 1px solid #fff;
}
.p1_t {
  padding-top: 30px;
}
.p1_t h1 {
  font-size: 50px;
}
.p1_box {
  margin-top: 60px;
}
.p1_box ul {
  /* width: 80%; */
  display: flex;
  justify-content: center;
  /* background-color: lightblue; */
  margin: 0 auto;
  cursor: pointer;
}
.p1_box li:hover {
  border: 5px solid;
}
.p1_box li {
  background-color: #6d6d6d41;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 0 40px;
  height: 560px;
  
}
.p1_box img {
  width: 360px;
}
.p1_box h3 {
  margin-bottom: 8px;
  text-align: start;
}

/* /////////// p1 */
.pic2 {
  display: block;
}
.pic1 {
  display: none;
}
.pic2.active {
  display: none;
}
.pic1.active {
  display: block;
}
/* //////////p2 */
.pic3 {
  display: block;
  padding-top: 100px;
}
.pic4 {
  display: none;
}
.pic3.active {
  display: none;
}
.pic4.active {
  display: block;
}

/* ----------page2----------------- */
.page2 {
  height: 100vh;
  text-align: center;
}
.page2 h1 {
  font-size: 50px;
}
.p2_box {
  display: flex;
  /* background-color: lightblue; */
  height: 500px;
  width: 1200px;
}
.p2_icon {
  width: 400px;
  /* background-color: lightcoral; */
  padding-left: 100px;
}
.p2_icon ul {
  display: flex;
  flex-flow: wrap;
  padding-top: 130px;
}
.p2_icon li {
  width: 100px;
  padding-top: 8%;
  /* background-color: lightgreen; */
}
.p2_icon img {
  width: 60px;
}
.p2_t {
  /* background-color: lightgreen; */
  width: 600px;
  text-align: start;
}
.p2_t ul {
  padding-top: 20%;
}
.p2_t li {
  /* background-color: lightblue; */
  width: 500px;
  padding: 24px 0px;
  font-size: 20px;
}
span {
  color: #bbbbbb;
  padding-right: 18px;
}
.p2_t a {
  border-bottom: 1px solid #bbbbbb;
}
